{% extends 'base.html.twig' %}
{% block titulo %}Tickets{% endblock %}
{% block menu_ticket %}class="active"{% endblock %}
{% block body %}
	<h1>Lista de Tickets</h1>
	<div class="subheader">
		<a type="button" class="btn btn-primary" href="{{ path('crear_ticket') }}">Registrar Nuevo Ticket</a>
	</div>
	<div style="clear: both;"></div>
	<br />
	<table class="table">
	<tr>
		<td class="ticket head">Ticket</td>
		<td class="descripcion head">Descripcion</td>
		<td class="creado head">Creado</td>
		<td class="asignado head">Completado</td>
		<td class="estado head">Estado</td>
		<td class="acciones head">Acciones</td>
	</tr>
	{% for ticket in ticket %}
		<tr>
			<td class="ticket">{{ticket.id}}</td>
			<td class="descripcion">{{ticket.descripcion}}</td>
			<td class="creado">{{ ticket.fechaCreado|date("m/d/Y") }}</td>
			<td class="asignado">{{ ticket.fechaCompletado|date("m/d/Y") }}</td>
			<td class="estado">{{ticket.estado}}</td>
			<td class="acciones">
				<a type="button" class="btn btn-primary" href="{{ path('ticket_info', { 'id' : ticket.id }) }}">Ver</a>
				<a type="button" class="btn btn-danger" href="{{ path('eliminar_ticket', { 'id' : ticket.id }) }}">Eliminar</a>
				<a type="button" class="btn btn-warning" href="{{ path('iniciar_ticket', { 'id' : ticket.id }) }}">Iniciar</a>
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}