{% extends 'base.html.twig' %}

{% block titulo %}Informacion de Ticket{% endblock %}
{% block menu_ticket %}class="active"{% endblock %}

{% block body %}
    <h1>Informacion de Ticket</h1>
    <div class="subheader">
        {% if ticket.estado == 'EN_PROCESO' %}
            <a type="button" class="btn btn-success" onclick="cambiarEstado('LISTO')">Completar Ticket</a>
        {% elseif ticket.estado == 'LISTO' %}
            <span class="alert-success">Ticket Completado!</span>
        {% else %}
            <a type="button" class="btn btn-success" onclick="cambiarEstado('EN_PROCESO')">Iniciar Ticket</a>
        {% endif %}
        <a type="button" class="btn btn-primary" href="{{ path('lista_tickets') }}">Volver</a>
    </div>
    <br />
    <div class="panel-heading full-width left">
        <div class="panel-body left">
            <h5>Asignación: #{{ ticket.id }}</h5>
        </div>
        <div class="panel-body left">
            <h5>Fecha Creado: {{ ticket.fechaCreado|date("m/d/Y") }}</h5>
        </div>
        <div class="panel-body left">
            {% if ticket.estado != 'LISTO' %}

            {% else %}
                {{ ticket.fechaCompletado|date("m/d/Y") }}</td>
            {% endif %}
        </div>
        <div class="panel-body left">
            <h5>Estado: {{ ticket.estado }}</h5>
        </div>
        <br />
        <div style="clear: both;"></div>
        <div class="center">
            <h4>Asignado A: {{ usuarioasigna }}</h4>
        </div>
    </div>
    <br />
    <div class="panel-primary half information">
        <div class="left">
            <h4>Solicitado Por: {{ usuariocrea }}</h4>
        </div>
        <br />
        <div class="left">
            <h4>Descripcion:</h4> <p>{{ ticket.descripcion }}</p>
        </div>

    </div>
    <div class="panel-primary half notas">
        <h3>Notas</h3>
        <div>
            <div>
                <button class="btn btn-primary" onclick="agregarNota()">Agregar Nota</button>
                <hr />
            </div>
            {% if notas|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        {#<td>#</td>#}
                        <td>Fecha</td>
                        <td>Nota</td>
                        <td>Usuario</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notas in notas %}
                    <tr>
                        {#<td>{{ notas.id }}</td>#}
                        <td>{{ notas.fecha|date("m/d/Y") }}</td>
                        <td>{{ notas.comentario }}</td>
                        <td>{{ notas.usuarioid }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {%  else %}
                <span class="alert-info">No hay notas para mostrar!</span>
            {% endif %}
        </div>
    </div>
    <input type="hidden" value="{{ ticket.id }}" id="id">
    <input type="hidden" value="{{ ticket.usuarioAsignadoId }}" id="ua">
    <script>
        function cambiarEstado(nuevoEstado) {

            var id = $('#id').val();
            $.ajax({
                url: '/app_dev.php/rest/ticket/' + id+'/cambia',
                type: 'PUT',
                data : nuevoEstado,
                success: function (response) {
                    window.location = '/app_dev.php/tickets';
                }                ,
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function agregarNota() {
            var nota = prompt("Por favor introduzca la nota");
            if (nota != null){
//                var id = $('#id').val();

                data = JSON.stringify({
                    "ticket": $('#id').val(),
                    "usuario": $('#ua').val(),
                    "nota": nota
                });
                console.log(data);

                $.ajax({
                    url: 'app_dev.php/rest/nota',
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (err) {
                        console.log(err);
//                        Alert('Se ha producido un error y su nota no ha sido guardada');
                    }
                });
            }
        }
    </script>
{% endblock %}