{% extends 'base.html.twig' %}

{% block titulo %}Informacion de Ticket{% endblock %}
{% block menu_ticket %}class="active"{% endblock %}

{% block body %}
    <h1>Informacion de Ticket</h1>
    <div class="subheader">
        <a type="button" class="btn btn-danger" href="{{ path('lista_tickets') }}">Volver</a>
    </div>
    <br />
    <div class="panel-heading full-width left">
        <div class="panel-body left">
            <h5>Asignación: #{{ ticket.id }}</h5>
        </div>
        <div class="panel-body left">
            <h5>Fecha Creado: {{ ticket.fechaCreado|date("m/d/Y") }}</h5>
        </div>
        <div class="panel-body left">
            <h5>Fecha Cerrado: {{ ticket.fechaCompletado|date("m/d/Y") }}</h5>
        </div>
        <div class="panel-body left">
            <h5>Estado: {{ ticket.estado }}</h5>
        </div>
        <br />
        <div style="clear: both;"></div>
        <div class="center">
            <h4>Asignado A: {{ usuarioasigna }}</h4>
        </div>
    </div>
    <br />
    <div class="panel-primary half information">
        <div class="left">
            <h4>Solicitado Por: {{ usuariocrea }}</h4>
        </div>
        <br />
        <div class="left">
            <h4>Descripcion:</h4> <p>{{ ticket.descripcion }}</p>
        </div>
    </div>
    <div class="panel-primary half notas">
        <h3>Notas</h3>
        <div>
            {% if notas|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Fecha</td>
                        <td>Nota</td>
                        <td>Usuario</td>
                    </tr>
                </thead>
                <tbody>
                {% for notas in notas %}
                    <tr>
                        <td>{{ notas.id }}</td>
                        <td>{{ notas.fecha|date("m/d/Y") }}</td>
                        <td>{{ notas.comentario }}</td>
                        <td>{{ notas.usuarioid }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%  else %}
            <span class="alert-info">No hay notas para mostrar!</span>
            {% endif %}
        </div>
    </div>

{% endblock %}