{% extends 'base.html.twig' %}

{% block titulo %}Usuarios{% endblock %}
{% block menu_usuario %}class="active"{% endblock %}
{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">Eliminando Usuario</h1>
    <h4>Esta seguro de querer eliminar el siguiente usuario?</h4>
    <form class="form-horizontal">
        <div class="form-group">
        <label class="control-label">Nombre: {{ usuario.nombre }}</label>
        </div>

        <div class="form-group">
        <label class="control-label">Username: {{ usuario.username }}</label>
        </div>
        <input type="hidden" value="{{ usuario.id }}" id="id">
        {#<!--<a class="btn btn-primary" href="{{ path('eliminar_usuario', { 'id' : usuario.id }) }}">Eliminar</a>-->#}
        <button type="button" class="btn btn-primary" onclick="eliminar()">Eliminar</button>
        <a class="btn btn-danger" href="{{ path('lista_usuarios') }}">Volver</a>
    </form>

    <script>
        function eliminar() {
            var id = $('#id').val();

            $.ajax({
                url: '/app_dev.php/rest/usuario/' + id,
                type: 'DELETE',
                success: function (response) {
//                    console.log(response);
                    window.location='/app_dev.php/usuario';
                }                ,
                error: function (err) {
                    console.log(err);
//                    alert("que te creias papá")
                }
            });
        }
    </script>

{% endblock %}