{% extends 'base.html.twig' %}

{% block titulo %}Usuarios{% endblock %}
{% block menu_usuario %}class="active"{% endblock %}
{% block body %}
    <h1>Lista de Usuarios</h1>
    <div class="subheader">
        <a type="button" class="btn btn-primary" href="{{ path('crear_usuario') }}">Registrar Nuevo Usuario</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Username</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.username }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('editar_usuario', { 'id' : usuario.id }) }}">Editar</a>
                    <a type="button" class="btn btn-danger" href="{{ path('valida_eliminar_usuario', { 'id' : usuario.id }) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}